:root {
  --color-bg: #001710;
  --color-bg: #004040;
  --color-bg: #055;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-bg);
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Utils */
.mr-2 {
  margin-right: 2rem;
}
.clickable {
  cursor: pointer;
}

/* Typography */

h1 {
  font-size: 4rem;
  font-weight: 100;
  text-align: center;
}
h2 {
  font-size: 2.5rem;
  font-weight: 100;
  text-decoration: underline 1px;
}
h3 {
  font-size: 2.8rem;
  font-weight: 600;
  margin: 0;
}
p {
  margin: 0;
}

/* Layout */
.container {
  max-width: calc(100vw - 40px);
  margin: 0 auto;
}

@media screen and (min-width: 1140px) {
  .container {
    max-width: 1140px;
  }
}

/* About Me */
.about-me {
  display: flex;
  flex-direction: column;
}
.about-me-text {
  text-align: center;
}
.profile-pic {
  width: 110px;
  height: 110px;
  border-radius: 60px;
  margin: 45px auto;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 768px) {
  .about-me {
    flex-direction: row-reverse;
    max-width: 768px;
    margin: 0 auto;
  }
  .about-me-text {
    text-align: start;
    margin: auto 0;
  }
  .profile-pic {
    width: 110px;
    height: 110px;
    border-radius: 60px;
    margin: 0 50px 0 0;
  }
}

/* Badges */
.badge {
  border-radius: 20px;
  padding: 0.5rem 1.8rem;
  font-weight: 600;
}
.badge--white {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  transition: all 0.1s;
}
.badge--white:hover {
  background: rgba(255, 255, 255, 0.3);
  color: white;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5);
}
.btn {
  border-radius: 20px;
  padding: 0.5rem 1.8rem;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  transition: all 0.1s;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.3);
  color: white;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5);
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}

/* Project */
.project {
  margin-bottom: 12rem;
  grid-gap: 2.5rem 4rem;
}
.project-heading {
  line-height: 1.6rem;
  margin-bottom: 2rem;
}
.project-image {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}
.project-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.project-section-heading {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .project {
    margin-bottom: 16rem;
  }
  .project:nth-of-type(even) .project-content {
    order: 2;
  }
  .project-buttons {
    justify-content: start;
  }
  .project-section-heading {
    margin-bottom: 70px;
  }
}

/* social-media */
.social-media-hub {
  border-radius: 1.8rem;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.social-media-icon {
  width: 35px;
  display: inline-block;
  filter: brightness(0) invert(100%);
  transition: all 0.1s;
}
.social-media-btn {
  flex-grow: 1;
  text-align: center;
  line-height: 0;
  padding: 1.6rem;
  transition: all 0.1s;
}
.social-media-btn:hover {
  background: rgba(255, 255, 255, 1);
}
.social-media-btn:hover > .social-media-icon {
  filter: none;
}

@media screen and (min-width: 768px) {
  .social-media-hub {
    margin-top: 50px;
  }
  .social-media-icon {
    width: 28px;
  }
  .social-media-btn {
    padding: 1.2rem;
  }
}

/* Landing Section */
.landing-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Footer */
.footer-section {
  padding: 60px 0;
  background: rgba(0, 0, 0, 0.3);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin: auto inherit;
}
.footer-text {
  flex-grow: 2;
  text-align: center;
  vertical-align: center;
  margin-left: 50px;
  /* line-height: 50px; */
}
.footer-btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  padding: 14px 16px 16px 16px;
  justify-content: center;
  margin: auto auto;
}
.back-to-top-icon {
  width: 100%;
}
