<div class="landing-section container">
  <h1>Hi there,</h1>
  <div class="about-me">
    <p class="about-me-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem id
      reiciendis cupiditate dolor, praesentium enim ipsum. Ipsum quisquam ipsam
      inventore, natus odio,
    </p>
    <img class="profile-pic" src="./images/proPic4.jpg" alt="" />
  </div>
  <div class="social-media-hub">
    <span class="social-media-btn clickable"
      ><img class="social-media-icon" src="./images/instaLogo.png" alt=""
    /></span>
    <span class="social-media-btn clickable">
      <img
        class="social-media-icon"
        src="./images/GitHub-Mark-120px-plus.png"
        alt=""
    /></span>
    <span class="social-media-btn clickable"
      ><img
        class="social-media-icon"
        src="./images/In-Blue-Logo.png.original.png"
        alt=""
    /></span>
  </div>
</div>
