<h2 class="project-section-heading">Projects</h2>

<div class="grid grid--1x2 project">
  <div class="project-content">
    <h3 class="project-heading">Maze Solver</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, quam nisi
      nam facilis earum impedit vitae ab praesentium, vero, ducimus ad nobis
      quisquam voluptatibus delectus voluptate illo recusandae natus numquam!
    </p>
    <div class="project-buttons">
      <span class="badge badge--white clickable mr-2">Github</span>
      <span class="badge badge--white clickable">Go to Project</span>
    </div>
  </div>
  <img src="./images/project.JPG" alt="" class="project-image" />
</div>
<div class="grid grid--1x2 project">
  <div class="project-content">
    <h3 class="project-heading">Maze Solver</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis fuga
      aliquam, facilis eligendi numquam laborum illum at facere! Dicta quisquam
      distinctio natus reiciendis quaerat officiis accusantium quam alias, enim
      ad est veniam dolor perferendis dolore debitis id provident vitae tempore
      inventore assumenda quas cupiditate atque.
    </p>
    <div class="project-buttons">
      <span class="badge badge--white clickable mr-2">Github</span>
      <span class="badge badge--white clickable">Go to Project</span>
    </div>
  </div>
  <img src="./images/project.JPG" alt="" class="project-image" />
</div>
